<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "geoffrey-moffett-TFRezw7pQwI-unsplash.jpg" %>');">
  <div class="container">
    <h1> <strong>MOVIES LIST</strong> </h1>
    <p>Click on List to see movies</p>
    <a  class="btn btn-success" href="#">Add Movie</a>
  </div>
</div>
